<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Pedido</title>
</head>


<body
    style=" max-width: 600px;background-color: rgb(255, 255, 255);margin: 20px; padding: 20px; border: solid 4px rgb(245, 217, 198); border-radius:50px; ">

    <table style="margin:0 auto; border-collapse: collapse;">
        <thead>
            <tr>
                <td style="width: 600px;">
                    <a href="https://www.albadeco.com.ar/" >
                        <img width="100%" style="display:block;margin: 1.5% 3%; align-items: center;"
                            src="https://i.ibb.co/mchFWSJ/logo.png">
                    </a>
                </td>
                <td style="width: 800px;">
                    <h2> Hola {{nombreUsuario}}, recibimos la seña por tu pedido Nº {{numeroPedido}} <br><br>
                    Dentro de los proximos 15/20 dias lo tendremos terminado y nos comunicaremos nuevamente para el pago total y envio del mismo.
                    </h2>
                </td>
            </tr>
        </thead>

    </table>
    <p>Por cualquier duda/consulta no dudes en comunicarte con nosotros 
        <br>  email: albadeco@gmail.com 
         <br> Whatsapp: 3541-694534</p>
</body>

</html>